<h1>Syntax</h1>

WeeklyApps is using <a href="http://daringfireball.net/projects/markdown/" target="_blank" >Markdown</a> to format blog posts and comments.

<table border="1" id="syntax">
	<tr>
		<th>What you type:</th>
		<th>What you see:</th>
	</tr>
	<tr>
		<td>*italics*</td>
		<td><i>italics</i></td>
	</tr>
	<tr>
		<td>**bold**</td>
		<td><strong>bold</strong></td>
	</tr>
	<tr>
		<td>[google](http://www.google.com/)</td>
		<td><a href="https://www.google.com/" target="_blank" >google</a></td>
	</tr>
	<tr>
		<td>* item 1 <br />
			* item 2 <br />
			* item 3
		</td>
		<td>
			<ul>
				<li>item 1
				<li>item 2
				<li>item 3	
			</ul>
		</td>
	</tr>
	<tr>
		<td>~~strikethrough~~</td>
		<td><strike>strikethrough</strike></td>
	</tr>
	<tr>
		<td>super^script</td>
		<td>super<sup>script</sup></td>
	</tr>
	<tr>
		<td>
			<p>Lines starting with four spaces are treated like code:</p>
			<span class="spaces">&nbsp;&nbsp;&nbsp;&nbsp;</span>if 1 * 2 < 3:<br />
			<span class="spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>print "hello, world!"
		</td>
		<td>
			<p>Lines starting with four spaces are treated like code:</p>
			<pre>if 1 * 2 < 3:
    print "hello, world!"
			</pre>
		</td>
	</tr>
</table> 