<div id="about">

	<h2>Who we are</h2>
	<p>WeeklyApps is authored by <a href="http://clintcecil.com/">Clint Cecil</a> and <a href="http://robertjmccaffery.com/">Robert McCaffery</a>.</p>

	<h2>About this project</h2>
	<p>This blog is the first application completed as part of our WeeklyApps project. We wrote this application in 2 weeks as the first addition in our goal to create fun, interesting apps on a semi-weekly basis then move on to the next idea. This blog may not be perfect and we can always come back and add/edit later but that is the beauty of this project. We want to learn and create without having to worry about making a perfect product for a client on a strict deadline and experiment with new technologies. The idea is to hold to our (semi) weekly delivery. We will try our best to deliver a new app every week or every other week but both authors are employed so please be patient. We *will* however be putting 1-2 weeks worth of work into each project. Keep checking out this blog as this is the platform where we will be:</p>

	<ul>
		<li>Posting ideas for new apps</li>
		<li>Linking to apps we have completed</li>
		<li>Discussing how we created different apps</li>
		<li>Highlighting the technology we use in our different apps</li>
		<li>and taking suggestions for new apps!</li>
	</ul>

	<p>You can also see a TL;DR version of our blog <a href="http://weeklyapps.github.io/">here</a>, check us out on <a href="http://www.reddit.com/r/weeklyapps">reddit</a>, or follow us on <a href="https://twitter.com/weeklyapps">Twitter</a>!</p>

</div>